.footer {
  /* position: absolute; */
  margin-top: 10px;
  background: #242424;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  /* width: 100%; */
}
.logo img {
  height: 20px;
  padding: 10px;
}
.right {
  flex-grow: 1;
  color: #878787;
  font-size: 12px;
}
.left {
  flex-grow: 1;
  color: #878787;
  font-size: 16px;
}
